@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Jacquarda+Bastarda+9&family=Monoton&family=Orbitron:wght@400..900&family=Silkscreen:wght@400;700&display=swap');

.font-jacquarda {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
}

.orbitron {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.silkscreen-regular {
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-style: normal;
}
  
.silkscreen-bold {
    font-family: "Silkscreen", serif;
    font-weight: 700;
    font-style: normal;
}

.black-ops-one-regular {
    font-family: "Black Ops One", serif;
    font-weight: 400;
    font-style: normal;
}

.monoton-regular {
    font-family: "Monoton", serif;
    font-weight: 400;
    font-style: normal;
  }
  